* {
    font-family: "Open Sans", sans-serif;
}
body {
    background-color: maroon;
}
h1, h2, h3 {
    color: maroon;
    font-family: "Maven Pro", sans-serif;
}
h1 {
    color: #808000;
}
main {
    margin: 0 auto;
    max-width: 600px;
    padding: 25px 75px;
    border-radius: 1em;
    background-color: white;
}
p {
    letter-spacing: 0.3px;
}
img {
    display: block;
    margin: 1em auto;
    width: 75%;
}
.calculator {
    background-color: rgb(235, 235, 235);
    border: 1px solid grey;
    padding: 10px 50px;
    min-width: 10em;
}
#calculatee {
    font-variant: small-caps;
    border: 1px solid black;
    padding: 0 5px;
}
button {
    font-variant: small-caps;
    background-color: #808000;
    color: white;
    font-size: 18px;
    padding: 0.1em 1em;
}
#answer {
    color: maroon;
    font-weight: 900;
}